
/* Page Layout */
.login-container {
  height: 100vh;
  display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5%;
  background: linear-gradient(135deg, #4A148C, #7B1FA2);
  color: white;
  font-family: "Segoe UI", sans-serif;
  animation: fadeIn 1.2s ease-in-out;
}

/* Left */
.login-left {
  flex: 1;
  padding: 120px;
}

.login-left h1 {
  font-size: 48px;
  font-weight: 700;
}

.login-left h1 span {
  font-weight: 300;
}

.login-left p {
  margin-top: 20px;
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
}

/* Right */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.login-card {
  width: 380px;
  background: rgba(0, 0, 0, 0.4);
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.779);
  animation: slideIn 1s ease-out forwards;
  backdrop-filter: blur(12px);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Inputs */
.input-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  margin-bottom: 25px;
  padding-bottom: 8px;
}

.input-group input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.input-group input::placeholder {
  color: #ccc;
}

/* Icons */
.icon {
  margin-right: 10px;
  font-size: 18px;
}

.email {
  color: #4caf50;
}

.password {
  color: #4caf50;
}

/* Buttons */
.btn-login {
  width: 100%;
  margin-top: 20px;
  background: #4caf50;
  border: none;
  padding: 12px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #2E7D32;
            transform: scale(1.05); 
}

.btn-back {
  width: 100%;
  margin-top: 12px;
  background: #9e9e9e;
  border: none;
  padding: 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-back:hover {
  background-color: #848282;
            transform: scale(1.05);
}

/* Responsive */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    padding: 50px;
    text-align: center;
  }
}


.project-info {
            color: #fff;
            text-align: left;
            max-width: 40%;
            animation: fadeIn 1.2s ease-in-out;
        }

        .project-info h1 {
            font-size: 3rem;
            font-weight: bold;
        }

        .project-info p {
            padding-right: 10px;
            font-size: 1.2rem;
        }